<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>扩展功能</title>
  <style type="text/css">
    table { border-collapse:collapse; font-size:12px }
    tb1 { text-align:center; font-size:12px }
    th { background: #f4f4f4; cursor: pointer }
    th,td { padding:5px; border:black solid 1px; white-space:nowrap }
    th.sorted.ascending:after { content: "  \2191" }
    th.sorted.descending:after { content: " \2193" }
    th.no-sort,th.no-sort:hover { background: #f4f4f4; cursor: not-allowed }
  </style>
</head>
<body>
<div class="tb1" align="center">
<table align="center" width="60%">
<thead>
  <tr height="35px"><th>扩展功能</th><th class="number" width="150px">文件时间</th></tr>
</thead>
<tbody>
  <tr><td align="center">合并下载</td>
    <td><a target="result" href="/plus?p=pdf">合并为PDF</a>&nbsp;&nbsp;<a target="result" href="/plus?p=zip">合并为ZIP</a></td></tr>   
</tbody>
</table>
</div>
</body>
</html>